<h2><%= @user.first_name + " " + @user.last_name%>. </h2>
<!-- WALL BTN -->
<a href="/walls/show"><button class="btn btn-primary">The Wall</button></a>
<!-- END -->
<a href="/sessions/<%= @user.id %>"><button class="btn btn-primary">Profile</button></a>
<!-- LOG OFF BTN -->
<form method='post' action='/sessions/<%= @user.id %>'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type='hidden' name='_method' value='delete' >
	<button type='submit' class="btn btn-danger">Log off</button>
</form>
<!-- END -->
<h1>Your Friends</h2> <h3><%= flash[:notice] %></h3> 
<table class = "table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email Address</th>
			<th>Remove as Friend</th>
		</tr>
	</thead>
	<tbody>
		<% @user.friends.each do |friend| %>
		<tr>
			<td><%= friend.first_name + " " + friend.last_name %></td>
			<td><%= friend.email_address%></td>
			<td>
				<form action="/friendships/showOther" method="post">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input type='hidden' name="friend_id" value="<%= friend.id %>" />
					<button type="submit" class="btn btn-success">Go to Profile</button>
				</form>				
				<form action="/friendships/<%= friend.id %>" method="post">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input type='hidden' name='_method' value='delete'>
					<input type='hidden' name="friend_id" value="<%= friend.id %>" />
					<button type="submit" class="btn btn-danger">Remove</button>
				</form>
			</td>
		</tr>
	 	<%end%>
	</tbody>
	</table>

	<table class = "table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Add As Friend</th>
		</tr>
	</thead>
	<tbody>
		<% @nonfriends.each do |nonfriend|%>
		<tr>
			<td><%= nonfriend.first_name  + " " + nonfriend.last_name %></td>
			<td>
				<form method="post" action="/friendships">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input type='hidden' name="friend_id" value="<%= nonfriend.id %>" />
					<button type="submit" class="btn btn-primary">Add</button>
				</form>
			</td>
		</tr>
	 	<%end%>
	 </tbody>
	</table>